/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */


html, body {
    height: 100%;
    margin: 0;
}

.page-content {
    min-height: 100%;

    /* negative is same measurement as footer height */
    /* margin-bottom: -120px; */
}

.page-content::after {
    content: "";
    display: block;
}

footer{
    height: 120px;
}